<!DOCTYPE html>
<html>
<body>
 <form method="POST" action="" >
    <h1 style="text-align:center;font-size:150%;color:Blue;background-color: rgba(201, 76, 76, 0.3)">Player Registration</h1>
    <p>Please fill in Player Details.</p>
    <hr>

    <label for="Identifier"><b>Identifier</b></label>
    <input type="text" placeholder="Enter Identifier" name="identifier">

    <label for="Name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name">

    <label for="amountofgold"><b>Amount of Gold</b></label>
    <input type="number" placeholder="Enter Gold" name="amountofgold">
    <hr>
    
    <input type="submit">
  </form>
</body>
</html>